<div id="news_container">
  <div id="curNews_container">
    {{#each news}}
    <div class="news_info">
      <h4>{{headline}}</h4>
      <a href="/news/{{_id}}">Read more....</a>
    </div>
    {{/each}}
  </div>
</div>

  <script src="/assets/js/news.js"></script>
