<div id="form_user_container">
  <div id="create">
    <form id="create_user">
      <h2 id="create_acc">Create an account!</h2>
      <input class="user_input" type="text" id="username" name="name" placeholder="username"/><br>
      <input class="user_input" type="text" id="email" name="email" placeholder="e-mail" /><br>
      <input class="user_input" type="text" id="password" name="password" placeholder="password"/><br>
      <button type="submit" id="add_user">SUBMIT!</button>
    </form>
  </div>
  <div>
    <div id="login">
      <form id="login_form">
        <input class="user_input" type="text" id="existuser_username" name="username" placeholder="username"/><br>
        <input class="user_input" type="text" id="existuser_password" name="password" placeholder="password"/><br>
        <button type="submit" id="log_in">LOG IN!</button>
      </form>
    </div>
  </div>
</div>

  <script src="/assets/js/news.js"></script>