<div id="sources_container">
    <ul id="source_table">
      {{#each sources}}
      <li class="nav-item">
        <a class="nav-link" href="/source/{{name}}">{{name}}</a>
      </li>
      {{/each}}
    </ul>
</div>
<div>
   <input id="feed_input" type="text" name="feed" placeholder="https://.../rss" required/><br>
    <button type="submit" id="add_feed">SUBMIT!</button>
</div>