<div id="sources_container">
    <ul id="source_table">
      {{#each sources}}
      <li class="nav-item">
        <a class="nav-link" href="/source/{{name}}">{{name}}</a>
      </li>
      {{/each}}
    </ul>
</div>
